@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
  text-align: center;
  background-color: #EDEDED;
  font-family: 'Roboto', sans-serif;}
.border {border-radius: 1000px;padding: 20px 20px;border: 7px solid #ccc;}

.top-info {
  position: relative;
  text-align: center;
  color: white;
}
.centered1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered2 {
  position: absolute;
  top: 20%;
  left: 43%;
  transform: translate(-30%, -50%);
}
a {
  background-color: #0478f4;
  width: 25%;
  height: auto;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
  color: #ffffff;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
